<section class="section">
    <div class="container p-4">
  <div class="card">

      <div class="card-header">
        <div class="btn-group float-right">
          <a
            href="/ticket/add"
            class="button m-4 button_mover button--flex button--pequeño"
            style="text-decoration: none; color:white;"
          >Agregar <i class="uil uil-plus-circle button_mover button_icon"></i></a>
        </div>
        <div class="">
          <h4 class="h4"><i class="fa fa-search" aria-hidden="true"></i>
            Buscar Por Ticket
          </h4>
        </div>
        <form class="form-inline" role="form" id="datos">
          <div class="form-group mb-2">
            <div class="form-group">
              <label for="q" class="sr-onluy">Fecha</label>
            </div>
            <div class="form-group mx-sm-3">
              <input
                type="text"
                class="form-control"
                id="q"
                placeholder="Fecha de ticket"
                onkeyup="load(1);"
              />
            </div>
            <button
              type="button"
              class="button button--flex button--pequeño button_mover"
              onclick="load(1);"
            >
              Buscar
              <i class="uil uil-search button_icon"></i></button>
            <div class="form-group col-md-3">
            </div>
          </div>
        </form>
      </div>
    <div class="card-body">
      
      {{!-- Tabla --}}
        <div class="container p-2">
          <div class="row">
            <table class="table">
                <thead class="thead_color">
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Persona</th>
                      <th scope="col">Estatus</th>
                      <th scope="col">Laboratorio</th>
                      <th scope="col">Computadora</th>
                      <th scope="col">Acciones</th>
                    </tr>
                </thead>
                 {{#each soporte}}
                <tbody>
                    <tr>
                      <th scope="row">{{fecha}}</th>
                      <td scope="row">{{descripcion}}</td>
                      <td scope="row">{{persona_rep}}</td>
                      <td scope="row">{{estatus}}</td>
                      <td scope="row">{{fk_laboratorio}}</td>
                      <td scope="row">{{fk_no_serie}}</td>
                      
                      <td class="td_center">
                        <a href="/ticket/delete/{{id_ticket}}" onclick="return confirm('¿Quieres eliminar el reporte realizado por {{persona}}?')"class="button button_danger m-2">Eliminar</a>
                        <a href="/ticket/edit/{{id_ticket}}" class="button m-2">Editar</a>
                      </td>
                    </tr>
                </tbody> 
                
                {{/each}}
              </table>
                
              
            </div>
          </div>
    </div>
  </div>
                
</div>
              
</section>